:root{
    --font-default:'Air-bnb';
    --background-color:#ffffff;
    --text-color:#222222;
    --subtext-color:#6A6A6A;
}
*, *::before, *::after {
    box-sizing: border-box;
}
body {
    font-family: var(--font-default);
    font-size: 0.875rem;
    line-height: 1.43;
    color: #222222;
    background-color: #fff;
    margin: 0;
    font-synthesis: none;
    padding: 0;
    margin: 0;
     -webkit-font-smoothing: antialiased;
}
img {
    display: inline-block;
    vertical-align: middle;
}
h1, h2, h3, h4, h5, h6 {
    margin-top: 25px;
    margin-bottom: 15px;
}
a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
}
a {
    color: inherit;
    font: inherit;
}
input, textarea, select, button, a {
    font-family: inherit;
    font-size: 100%;
}
body{
    line-break: strict;
    height: 100%;
    display: block;
}
button {
    color: inherit;
    font: inherit;
}
.sub-main-header{
    pointer-events: none;
}
.nav-bar-container{
    background-color: var(--background-color);
    position: sticky;
    top: 0;
    z-index: 10;
}
.actual-nav-container{
    position: relative;
    z-index: 1;
}
.secondlast-nav-container{
    /*searchbar-prefix-width-missed*/
    margin-top: 12px;
    align-items: center;
    position: relative;
    display: grid;
    grid-template-columns: minmax(0, 1fr);
}
.last-nav-container{
    background:#ffffff;
    align-items: stretch;
    border-radius: 40px;
    padding-inline: 12px ;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    border: 0.5px solid rgba(0, 0, 0, 0.08);
    display: grid;
    color:var(--text-color);
    will-change: margin-inline-end;
    contain: layout style;
    min-height: 56px;
}
.nav-button-container{
    line-height: inherit;
    font-size: inherit;
    text-align: inherit;
    transition: none;
    padding-inline:4px;
    border-radius: 1000px;
    color: inherit;
    max-width: 100%;
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    outline: none;
    -webkit-tap-highlight-color: transparent;
    touch-action: manipulation;
    text-decoration: none;
    letter-spacing: normal;
    user-select: none;
    gap: 8px;
    align-items: center;
    justify-content: center;
    font: inherit;
    border: none;
    background-color: transparent;
}
.search-icon-container{
    display: grid;
    cursor: pointer;
    font-family: inherit;
    font-weight: inherit;
    line-height: inherit;
    font-size: inherit;
    text-align: inherit;
    color: inherit;
    -webkit-tap-highlight-color: transparent;
    letter-spacing:normal;
    user-select: none;
    font: inherit;
  
}
.mobile{
    display: block;
}
.desktop{
    display: none;
}
.search-text-container{
    padding-left: 2px;
    text-align: center;
    overflow: hidden;
    max-width: 100%;
    display: grid;
}
.search-text{
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.125rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    letter-spacing: normal;
}
.after-class:after{
    content: '';
    display: flex;
}
.category-bar-container{
    background-color: var(--background-color);
    box-shadow: 0 2px 12px 0 rgba(0,0,0,0.08);
    position: sticky;
    clip-path: inset(0 0 -12px 0);
    z-index: 9;
    top: 18px;
}
.before-class::before{
    content: '';
    display: flex;
}
.last-category-bar-container{
    padding: 16px 56px 0 56px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    overflow: hidden;
    position: relative;
}
.homes-icon-container-attribute{
    cursor: pointer;
    flex-direction: column;
    display: flex;
    outline: none;
    user-select: none;
    min-width: 68px;
    margin-bottom: 8px;
    align-items: center;
}
.homes-icon-container-span-container{
    flex-direction: column;
    display: flex;
}
.homes-icon-container-span{
    margin-top: 8px;
    position: relative;
    margin-bottom: 6px;
}
.homes-icon-container-final{
    display: block;
    height: 36px;
    width: 36px;
}
.home-video-twirl{
    left: 0;
    transform: scale(2);
    height: 100%;
    width: 100%;
    top: 0;
    position: absolute;
    opacity: 1;
    pointer-events: none;
    object-fit: contain;
    object-position: center;
}
.home-text{
    padding: 0;
    border: 0;
    white-space: nowrap;
    position: absolute;
    overflow: clip;
    width: 1px;
    height: 1px;
    clip-path: inset(100%);
    clip: rect(0 0 0 0 );
}
.home-text-mobile{
    font-weight: 600;
    line-height: 0.625rem;
    font-size: 0.75rem;
    transform-origin:top;
    text-wrap: nowrap;
    display: block;
    color:var(--subtext-color);
    letter-spacing: -0.01em;
}
.span-underline{
    background-color: var(--text-color);
    left: 0;
    transform-origin: left;
    transition: none;
    animation: none;
    position: absolute;
    width: 10px;
    height: 3px;
    bottom: 0;
}
.left{
    width: 6px;
    height: 3px;
    border-top-left-radius: 1.5px;
    border-bottom-left-radius: 1.5px;
}
.right{
    width: 3px;
    height: 3px;
    border-top-right-radius: 1.5px;
    border-bottom-right-radius: 1.5px;
}
.non-selected{
    color: #6A6A6A;
    font-weight: 400;
}
.new-popup-container{
    padding: 3px 6.1px;
        top: -5px;
    left: 36px;
    transform-origin: bottom left;
    font-size: 0.5rem;
    box-shadow: 
    0 0.953955px 1.90791px rgba(60,77,107,0.25),0 3.81582px 5.72373px
    rgba(60,77,107,0.25),inset 0 0 2px 0.5px #001c40,inset 0 -1px 3px #d7ebff;
    background: linear-gradient(357.5deg, #3e567c 1.59%, #3a5475 21.23%, #2d3c5b 58.6%, #809dc0 97.4%);
    border-radius: 10px 10px 10px 2px;
    position: absolute;
    display: inline-block;
    box-sizing: border-box;
    user-select: none;
}
.popup-one{
    background-clip: text;
    text-align: center;
    font-weight:800;
    line-height: 0.625rem;
    text-wrap: nowrap;
    position: relative;
    text-transform: uppercase;
    text-rendering: optimizeLegibility;
    letter-spacing: 0.02rem;
    color: var(--background-color);
}
.popup-two{
    background-clip: text;
    left: 0;
    font-weight: 800;
    transform: translateY(25%) scale(1, -1);
    background: linear-gradient(to top,var(--background-color),transparent 50%);
    line-height: 0.625rem;
    text-wrap: nowrap;
    position: absolute;
    text-transform: uppercase;
    text-rendering: optimizeLegibility;
    letter-spacing: 0.01em;
    opacity: 0.09;
    mix-blend-mode: screen;
    /* color: transparent; */
    filter: blur(0.131901px);

}
.some-span{
    left: 3px;
    background: radial-gradient(50% 50% at 50% 50%, #fff8df 0%, rgba(255, 254, 224, 0.2) 51.5%, rgba(255, 250, 225, 0) 100%);
    top: 0;
    position: absolute;
    height: 6px;
    width: 6px;
    opacity: 0.4;
    mix-blend-mode: plus-lighter;
    filter: blur(0.659506px);
}
.one{
    left: 14.5px;
}
.underline-empty-div{
    justify-content: center;
    display: flex;
    width: 100%;
    z-index: 1;
    position: fixed;
}
/* .rooms-container-main{
    margin-bottom:49px;
} */
.template-container{
    display: grid;
    /* grid-template-rows: repeat(2, 1fr); */
    /* row-gap: 11px; */
    margin-inline-start: 0;
    margin-inline-end: 0;
}
/* .template-header-container{
    grid-area: header; } */
.template-header-container-actual{
    margin-inline-end: 24px;
    margin-inline-start: 24px;
    margin-block-start:32px ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-block-end: 14px;
}
.template-header{
    margin-top: 0;
    margin-bottom: 0;
    font-size: unset;
    font-weight: unset;
}
.header-text-attribute{
    padding: 0;
    cursor: pointer;
    border: none;
    font-family: inherit;
    /* box-shadow: ; */
    margin: 0;
    border-radius: 8px;
    background: transparent;
    font-weight: inherit;
    line-height: inherit;
    font-size: inherit;
    text-align: inherit;
    color: inherit;
    position: relative;
    height: 100%;
    width: 100%;
    outline: none;
    display: block;
    -webkit-tap-highlight-color: transparent;
    touch-action: manipulation;
    text-decoration: none;
    letter-spacing: normal;
}
.header-text-final-container{
    padding-inline-end: 12px;
    font-weight: 600;
    line-height: 1.5rem;
    font-size: 1.125rem;
    align-items: baseline;
    display: inline-block;
    text-wrap: pretty;
    letter-spacing: -0.01125rem;
}
.header-arrow-container{
    margin-inline-start: 2px;
    display: inline-block;
}
.empty-header-container{
    user-select: none;
    pointer-events: none;
}
.template-slider-container{
    margin-inline-end: 0;
    margin-inline-start: 0; 
}
@supports (aspect-ratio: 1/1){
.template-slider-ratio-container[class]{
    aspect-ratio: unset;
}
}
.template-slider-height-container{
    height:100%;
    min-width: 0;
    position: unset;
}
.template-slider-final-container{
    padding-inline-start: 24px;
    padding-inline-end: 24px;
    margin: 0;
    justify-content: flex-start;
    grid-auto-flow: column;
    scroll-snap-type:inline mandatory;
    grid-template-areas: none;
    grid-template-rows: none;
    grid-auto-columns: calc(50% - 5.5px);
    display: grid;
    scrollbar-width: none;
    touch-action: manipulation;
    scroll-padding-inline: 24px;
    padding-block-end: 0;
    padding-block-start: 0;
    overscroll-behavior-inline: contain;
    overflow: auto hidden;
    min-height: 0;
    gap: 11px;
    content-visibility: visible;
    contain: none;
    contain-intrinsic-height: none;
    contain-intrinsic-width: none;
}
.image-scroller-container{
    scroll-snap-align: start;
    scroll-snap-stop: normal;
}
.scroller-template-container{
    box-shadow: none;
    border-radius: 20px;
    position: relative;
    width: 100%;
    min-width: 0;
    max-width: none;
}
.scroller-attribute{
    position: absolute;
    top: 0;
    left :0;
    padding: 0;
    border: none;
    background: transparent;
    border-radius: 20px;
    height: 100px;
    width: 100%;
    outline: none;
    display: block;
}
.image-scroll-container-first{
    flex-direction: column;
    display: flex;
    gap: 8px;
    flex: 1 0 100%;
}
.image-scroll-container-second{
    background-color: #DDDDDD;
    box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.02),0px 8px 24px 0px rgba(0,0,0,0.10);
    border-radius: 20px;
    overflow: clip;
    pointer-events: none;
    z-index: 0;
}
@supports (aspect-ratio: 1/1){
.image-scroll-container-third{
    aspect-ratio: 20/19;
}
}   
.image-scroll-container-fourth{
    height: 100%;
    min-width: 0;
    position: unset;
}
.image-scroll-container-fifth{
    background-repeat: no-repeat;
    background-position: 50% 50%;
    display: inline-block;
    min-height: 1px;
    vertical-align: bottom;
    width: 100%;
    height: 100%;
}
.scroller-image{
    position: static;
    width: 100%;
    height: 100%;
    vertical-align: bottom;
    object-position: center;
    object-fit: cover;
}
.background-image-container{
    background-image: url(https://a0.muscache.com/im/pictures/hosting/Hosting-1270314768198309910/original/c389f712-5665-4b38-b83b-29f9b8fd73d0.jpeg?im_w=320);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    height: 100%;
    width: 100%;
    vertical-align: bottom;
}
.grid-like-guest-container{
    grid-template-columns: repeat(2, minmax(min-content, auto));
    display: grid;
    grid-column-gap:8px ;
    grid-area: top-row;
}
.grid-container{
    right: 0;
    left: 0;
    padding: 12px 12px 0;
    grid-template-rows: repeat(3, minmax(0, 1fr));
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-template-areas:
                        'top-row top-row top-row'
                        'middle-row middle-row middle-row'
                        'bottom-row bottom-row bottom-row';
    overflow: hidden;
    position: absolute;
    display: grid;
    pointer-events: none;
    top: 0;
    bottom: 0; 
    /* display: flex; */
    /* justify-content: space-between; */
}
.grid-favourite-container{
    grid-template-columns: repeat(2, minmax(min-content, auto));
    display: grid;
    grid-column-gap:8px ;
    grid-area: top-row;
}
.guest-favourite-button-container{
    justify-content: flex-start;
}
.guest-favourite-button-final-container{
    background-color: rgba(255, 255, 255, 0.8);
    background-clip: border-box;
    align-items: center;
    font-weight: 600;
    box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.02),0px 2px 6px 0px rgba(0,0,0,0.04),0px 4px 8px 0px rgba(0,0,0,0.10);
    border: 1px solid rgba(255,255,255,0.5);
    border-radius: 14px;
    padding-inline: 9.5px;
    max-width: 100%;
    color: var(--text-color);
    display: inline-flex;
    height: fit-content;
    backdrop-filter: blur(32px);
    font-feature-settings: 'salt';
    padding-block: 5.5px;
}
.guest-favourite-text{
    font-weight: 600;
    color: var(--text-color);
    font-feature-settings: "salt";
    line-height: 0.8125rem;
    font-size: 0.6875rem;

}
.heart-container{
    display: flex;
    justify-self: flex-end;   
}
.heart-icon-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -4px -4px 0 0;
    pointer-events: none;
    width: 32px;
    height: 32px;
}
.heart-icon-button{
    background-color: transparent;
    align-items: center;
    border-radius: 50%;
    border: none;
    justify-content: center;
    font-weight: 500;
    line-height: 1.25rem;
    font-size: 1rem;
    font-family: var(--font-default);
    transition: transform 0.25s cubic-bezier(0.2,0,0,1);
    padding: 2px 0 0;
    margin: -2px 0 0 ;
    outline: none;
    color: var(--text-color);
    -webkit-tap-highlight-color: transparent;
    display: inline-flex;
    width: 32px;
    height: 32px;
}
.heart-icon{
    transition: transform 0.1s cubic-bezier(0.2,0,0,1);
    will-change: transform;
    text-decoration: inherit;
    display: inline-block;
}
.hotel-room-name-container{
    grid-template-rows: unset;
    grid-template-columns: minmax(0, 1fr);
    display: grid;
    gap: 2px;
}
.room-name{
    line-height: 1rem;
    font-size: 0.812rem;
}
.styler-for-room-name{
    text-wrap: pretty;
    overflow: clip;
    text-overflow: ellipsis;
    --webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    /* line-height: inherit; */
    line-height: 16px;
    font-weight: 500;
    color: var(--text-color);
    line-height: inherit;
}
.room-price-and-rating-container{
    display: flex;
    flex-wrap: wrap;
    font-size: 0.6875rem;
    line-height: 0.8125rem;
    color: var(--subtext-color);
}
.room-price-container{
    display: inline-flex;
}
.price-and-days{
    --webkit-box-lines: multiple;
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    --webkit-box-orient:horizontal;
    --webkit-box-orient:normal;
}
.price-and-days-text{
    align-items: baseline;
    flex-direction: row;
    position: relative;
    display: flex;
}
.airbnb-price-amount{
    font-weight: 400;
    text-decoration: none;
    color: var(--subtext-color);
}
.star-container{
    align-items: center;
    column-gap: 2.5px;
    display: inline-flex;
}
.comma-container{
    color: var(--subtext-color);
}
.comma-text{
    padding: 0;
    border: 0;
    white-space: nowrap;
    position: absolute;
    overflow: clip;
    width: 1px;
    height: 1px;
    clip-path: inset(100%);
    clip: rect(0 0 0 0 );
}
.end-footer-main-container{
    display: block;   
}
.footer-main-container::before{
    content: '';
    display: flex;
}
.footer-main-container-two{
    background: #F7F7F7
;
}
.footer-container-three{
    margin-inline: auto;
    padding-inline: 24px;
    max-width: 1920px;
    padding-block: 48px;
}
.footer-header{
    margin-bottom: 8px;
    font-weight: 500;
    line-height: 1.625rem;
    font-size: 1.375rem;
    margin-top: 0;
    letter-spacing: -0.01375rem;
}
.footer-categories-container{
    position: relative;
}
.footer-categories-container-outer{
    margin-right: -12px;
    margin-left: -12px;
    padding: 0 12px 0 12px;
    overflow-y: auto;
    scrollbar-width: none;
}
.unique-categories-container{
    display: flex;
    white-space: nowrap;
    overflow: visible;
}
.unique-stays-button{
    margin: 6px 6px 6px -10px;
    border: none;
    line-height: 1.125rem;
    font-size: 0.865rem;
    font-weight: 500;
    font-family: var(--font-default);
    border-radius: 8px;
    background: transparent;
    cursor: default;
    padding: 10px;
    outline: none;
    position: relative;
    color: var(--text-color);
    letter-spacing: normal;
}
.unique-stays-button::after{
    background-color: var(--text-color);
    left: 10px;
    position: absolute;
    content: '';
    height: 2px;
    width: calc(100% - 20px);
    bottom: -6px;
}
.categories-button{
    margin-right: 0;
    margin-top: 6px;
    margin-bottom: 6px;
    border: none;
    line-height: 1.125rem;
    font-size: 0.875rem;
    font-weight: 500;
    font-family: var(--font-default);
    border-radius: 8px;
    background: transparent;
    padding: 10px;
    position: relative;
    outline: none;
    color: var(--subtext-color);
    letter-spacing: normal;
}
.underline-div-for-unselected{
    background-color: #DDDDDD;
    height: 1px;
}
.about-container-footer{
    padding-top: 32px;
}
.about-container-unordered-list{
    padding: 0;
    margin: 0;
    column-gap: 8px;
    display: grid;
    grid-template-columns: repeat(2,minmax(0,1fr));
    row-gap: 24px;
    list-style: none;
}
.footer-attribute-tag{
    font-size: 0.875rem;
    font-family: var(--font-default);
    line-height: 1.125rem;
    flex-direction: column;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: flex;
    color: var(--subtext-color);
    letter-spacing: normal;
}
.footer-span-tag{
    font-weight: 500;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: var(--text-color);
}
.list-final-button{
    text-align: center;
    align-items: center;
    padding: 0;
    cursor: pointer;
    border: none;
    line-height: 1.125rem;
    font-size: 0.875rem;
    font-weight: 500;
    border-radius: 8px;
    margin: 0;
    font-family: var(--font-default);
    background: transparent;
    outline: none;
    display: flex;
    color: var(--text-color);
    touch-action: manipulation;
    width: auto;
    text-decoration: none;
    width: auto;
    letter-spacing: normal;
    -webkit-tap-highlight-color: transparent;
    gap: 4px;
    min-width:auto;
}
.for-something-div{
    padding-top: 32px;
}
.final-footer-text-support{
    background: #F7F7F7;
}
.footer-text-padding{
    padding: 0 24px;
    margin-inline: auto;
    max-width: 1920px;
}
.footer-text-grid{
    grid-column-start: 2;
}
.important-span-div{
    padding: 0;
    border: 0;
    white-space: nowrap;
    position: absolute;
    overflow: clip;
    width: 1px;
    height: 1px;
    clip-path: inset(100%);
    clip: rect(0 0 0 0 );
}
.actual-footer-text-container{
    column-gap: 16px;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    display: grid;
}
.support-section-template{
    border:0;
    grid-column: 1/-1;
    border-top: 1px solid #DDDDDD
;
    padding-block: 24px;
}
.support-template-header{
    margin-bottom: 16px;
    line-height: 1.125rem;
    font-size: 0.875rem;
    font-weight: 500;
}
.unordered-list-of-support-template{
    padding: 0;
    margin: 0;
    display: grid;
    gap: 16px;
    list-style: none;
}
.support-template-features{
    padding: 0;
    cursor: pointer;
    font-family: inherit;
    margin: 0;
    line-height: 1.125rem;
    font-size: 0.875rem;
    background: transparent;
    font-weight: 400;
    text-align: inherit;
    border: 0;
    font-feature-settings: inherit;
    font-variant: inherit;
    font-feature-settings: inherit;
    font-variant: inherit;
    font-style: inherit;
    border-radius: 2px;
    color: inherit;
    position: relative;
    outline: none;
    text-decoration: none;
    letter-spacing: normal;
    user-select: auto;
    appearance: none;
}
.end-credits-container{
    padding-bottom: 24px;
    padding-top: 24px;
    border-top: 1px solid #EBEBEB;
}
.end-credits-header{
    padding: 0;
    border: 0;
    white-space: nowrap;
    position: absolute;
    overflow: clip;
    width: 1px;
    height: 1px;
    clip-path: inset(100%);
    clip:rect(0 0 0)
}
.laptopx{
    display: none;
}
.end-credits-margin-left-class{
    margin-left: -8px;
    margin-bottom: 8px;
}
.end-credits-flex-container{
    display: flex;
}
.end-credits-margin-right-container{
    margin-right: 4px;
}
.end-credits-button-container{
    text-align: center;
    cursor: pointer;
    border: none;
    background: transparent;
    font-weight: 500;
    font-family: var(--font-default);
    margin: 0;
    line-height: 1.125rem;
    font-size: 0.875rem;
    border-radius: 8px;
    padding: 6px 8px;
    position: relative;
    text-decoration: none;
    outline: none;
    color: var(--text-color);
    touch-action: manipulation;
    width: auto;
    display: inline-block;
    letter-spacing: normal;
    min-width:auto ;
}
.end-credits-span-container{
    text-decoration: inherit;
    display: inline-block;

}
.end-credits-svg-text-container{
    display: flex;
    align-items: center;
    gap: 8px;
    display: inline-flex;
    pointer-events: none;
    vertical-align: top;
}
.end-credits-gap-container{
    display: inline-flex;
    gap: 8px;
}
.padding{
    margin-bottom: 12px;
    padding: 8px;
    margin-left: -16px;
}
.padding-top{
    padding-top: 0;
}
.end-credits-ul-container{
    list-style: none;
    margin: 0 -4px 0 8px;
    padding: 0px;
    display: flex;
    gap: 20px;
    line-height: 0;
}
.end-credits-li-container{
    margin-right: 4px;
}
.end-credits-socials-container{
    background-color: transparent;
    padding: 0;
    cursor: pointer;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    border: none;
    margin: 0;
    position: relative;
    outline: none;
    touch-action: manipulation;
    display: inline-block;
    appearance: none;
    color: var(--text-color);
}
/* .end-credits-socials-container::before{
    background-color: transparent;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    position: absolute;
    display: block;
    content: '';
    height: 32px;
    width: 32px;
} */
 ol li{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 ol{
    list-style: none;
    padding-left: 0;
    margin: 0;
 }
.end-credits-socials-span-container{
    position: relative;
    display: flex;
    will-change: transform;
}
.end-credits-copyright-text{
    font-size: 0.875rem ;
    line-height: 1.425rem;
    color: rgb(34, 34, 34) ;
    display: inline-block ;
}
.end-credits-dot-text{
    display: inline-block ;
    text-align: center ;
    padding-inline: 8px;
    font-size: 0.875rem ;
    line-height: 1.125rem ;
}
.end-credits-privacy-container{
    display: inline-block;
    line-height: 1.125rem;
    font-size: 0.875rem;
    letter-spacing: normal;
}
.end-credits-ol-container{
    padding: 0;
    margin: 0;
    display: flex;
    list-style-type: none;
}
.end-credits-li-texts-privacy{
    display: inline-block;
}
.end-credits-li-text-attribute{
    margin: 0;
    line-height: 1.125rem;
    font-size: 0.875rem;
    background: transparent;
    font-weight: 400;
    text-align: inherit;
    border: 0;
    font-feature-settings: inherit;
    font-variant: inherit;
    font-style: inherit;
    border-radius: 2px;
    color: inherit;
    position: relative;
    outline: none;
    text-decoration: none;
    letter-spacing: normal;
    user-select: auto;
    appearance: none;
}
.sticky-nav-bottom-container{
    margin-bottom:0;
    padding: 0 4px 60px 4px;
    display: flex;
    align-items: center;
    border-top: 1px solid #EBEBEB;
    position: fixed;
    bottom: -60px;
    left: 0;
    right: 0px;
    contain: paint;
    background: #ffffff;
    z-index: 1;
    -webkit-box-align: center;
    height: 125px;
}
.max-width-for-nav-bar{
    max-width: 100%;
    width: 100%;
    position: absolute;
    bottom: 149px;
    left: 0;
}
.flex-container-for-nav{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    max-width: 560px;
    gap: 2px;
    -webkit-box-pack: center;
    -webkit-box-align: start;
    align-items: flex-start;
    flex: 1 0 auto;
}
.attribute-tag-for-search{
    display: flex;
    flex: 1 1 0;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    background-color: transparent;
    text-align: center;
    text-decoration: none;
    border: 0px;
    overflow-wrap: break-word;
    hyphens: auto ;
    color: #DA1249;
    padding: 0 2px ;
    max-width: 20% ;
    min-width: 0px ;

    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
    -webkit-box-direction: normal !important;
    -webkit-box-orient: vertical !important;
    --icon-size: 30px !important;
}
.search-icon-container{
    display: flex;
}
.search-icon-container-styles{
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2px;
    position: relative;
    color: #DA1249;
}
.mobile-scale{
    transform: scale(1.33);
}
.icon-text-container{
    font-size: 0.625rem;
    overflow: clip;
    line-height: 0.75rem;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow-wrap: break-word;
    font-weight: 500;
    color: #DA1249;
}
.fill{
    color: var(--subtext-color);
    font-weight: 400;
}
.header-margin{
    margin-top: 0;
}
.no-border-top{
    border-top: 0;
}
.margin-left{
    margin-left: -3px;
}
.main-contents-container{
    margin-bottom: 49px;
}
.homes-icon-container-span {
  transition: transform 0.3s ease-in-out;
  transform-origin: top center; /* Optional: sets the point of scaling */
}
.nav-and-category-bar-container{
    display: contents;
}
.homes-icon-container-span.hidden {
  transform: scale(0);
}
.tabtoDesktop{
    display: none;
}
.tab{
    display: none;
}
.desktop{
    display: none;
}
.nav-mobile{
    display: flex;
}
.bnb-attribute-container{
    display: contents;
}
.bnb-category-container{
    display: contents;
}
.bnb-globe-menu-container{
    display: contents;
}
.underline-container{
    display: contents;
}
.laptop{
    display: none;
}
@media (min-width: 425px) {
    .last-category-bar-container{
    padding: 16px 64px 0 64px;
    }
    .span-underline{
        left: 8px;
    }
    .support-padding-header{
        margin-top: 24px;
    }
    .padding-top{
        padding-top: 24px;
    }
    .no-margin-top{
        margin-top: 0;
    }
}

@media (min-width: 768px){
    .template-slider-final-container{
        grid-auto-columns: calc(25% - 8.25px);
    }
    .desktop{
        display: block;
    }
    .tab{
        display: inline-flex;
        align-items: center;
        position: relative;
        outline: none;
        vertical-align: middle;
        z-index: 1;
        color: #FF385C;
        height: 80px;
        margin-top: 10px;
    }
    .tabtoDesktop::before{
        right: -12px;
        border-radius: 12px;
        position: absolute;
        content: '';
        top: 12px;
        bottom: 12px;
    }
    .nav-and-category-bar-container{
        display: flex;
        flex-direction: column-reverse;
    }
    .last-category-bar-container{
        padding: 0 24px;
        max-height: 70px;
        align-items: center;
    }
    .globe-button-container{
        margin-top: auto;
        margin-bottom: auto;
        position: relative;
        display: inline-block;
        vertical-align: middle;
    }
    .globe-button-svg-container{
        background-color: var(--subtext-color);
        align-items: center;
        padding: 0;
        cursor: pointer;
        border-radius: 50%;
        border: none;
        justify-content: center;
        margin: 0;
        position: relative;
        outline: none;
        touch-action: manipulation;
        background-color: #F2F2F2;
        color: var(--text-color);
        display: inline-flex;
        height: 40px;
        width: 40px;
        appearance: none;
    }
    .globe-svg-container{
        align-items: center;
        justify-content: center;
        position: relative;
        display: inline-flex;
        width: 40px;
        height: 40px;
        will-change: transform;
    }
    .mobile{
        display: none;
    }
    .home-text-desktop{
        position: relative;
        left: 2.5px;
        top: 1px;
        margin-left: 8px;
    }
    .home-text-desktop-left{
        position: relative;
        left: 8.9px;
        top: 1px;
        margin-left: 8px;
    }
    .homes-icon-container-attribute{
        flex-direction: row;
        font-size: 0.875rem;
        font-weight: 600;
        /* line-height: 1.125rem; */
        text-wrap: nowrap;
        color: var(--text-color);  
    }
    .category-bar-container{
        top: 0;
        max-height: 70px;
    }
    .bnb-attribute-container{
        display: flex;
    }
    .bnb-category-container{
        display: flex;
        flex-direction: row;
        gap: 35px;
        margin: 28px 0 0px 57px;
    }
    .bnb-globe-menu-container{
        display: flex;
        position: relative;
        top: 5px;
    }
    .margin-right{
        margin-right: 12px;
    }
    .underline-container{
        display: none;
    }
    .homes-icon-container-span{
        transform: scale(1.15)
    }
    .homes-icon-container-span-container{
        position: relative;
        right: 6px;
        top: 2.5px;
    }
    .balloon{
        position: relative;
        left: 8px;
        bottom: 2.5px;
    }
    .bell{
        position: relative;
        left: 10.5px;
        bottom: 2.5px;
    }
    .nav-mobile{
        display: none;
    }
    .left{
        left: 5px;
    }
    .new-popup-container{
        top: -12.5px;
        left: 44px;
    }
    .left-popup{
        left: 46.5px;
    }
    .secondlast-nav-container{
        margin-top: 34px;
    }
    .last-nav-container{
        grid-template-columns: minmax(0, 2fr) 1px minmax(0, 1fr) 1px minmax(0, 1fr) 1px minmax(0, 2fr);
        min-height: 64px;
        gap: 2.1px;
        display: grid;
        max-height: 66px;
        padding-inline: 0;
        align-content: center;
        align-items: center;
        border-radius: 32px;
        border: 1px solid #DDDDDD;
        box-shadow: rgba(0, 0, 0, 0.1) 0 3px 12px 0, rgba(0, 0, 0, 0.02) 0 0 0 1px;
    }
    .underline-container-desktop{
        display: block;
        position: absolute;
        left: 104px;
        top: 3px;
    }
    .span-underline{
        width: 27.5px;
    }
    .right{
        position: relative;
        left: 45px;
        display: flex;
    }
    .nav-bar-container{
        padding-bottom: 30.5px;
        background-image: linear-gradient(rgb(255, 255, 255) 39.9%, rgb(248, 248, 248) 100%);
        border-bottom: 0.5px solid #dcdcdc;
    }
    .where-search-container{
        align-items: center;
        cursor: pointer;
        justify-content: space-between;
        border-radius: 32px;
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        outline: none;
    }
    /* .where-search-container::before{
        content: '';
        z-index: -1;
        height: 32px;
        pointer-events: none;
        width:  calc(100% + 8px);
    } */
    .where-search-inner-container{
        padding: 15px 31px;
        position: relative;
        width: 100%;
        min-width: 0;
        z-index: 2;
        overflow: clip;
    }
    .where-search-inner-container::after{
        content: '';
        height: 100%;
        pointer-events: none;
        top: 0;
        width:  calc(100% + 70px);
    }
    .where-text-container{
        padding-bottom: 2px;
        font-weight: 500;
        font-size: 0.75rem;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: clip;
        color: var(--text-color);
        letter-spacing: normal;
    }
    .input-text-container{
        padding: 0;
        background: none;
        font-weight: 400;
        margin: 0;
        line-height: 1.1125rem;
        font-size: 0.875rem;
        border: 0;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 100%;
        display: block;
        letter-spacing: normal;
        color: var(--text-color);
    }
    .vertical-hr{
        background: #DDDDDD;
        height: 32px;
        width: 1px;
        z-index: -2;
    }
    .padding-search-small{
        padding: 15px 24px;
    }
    .seccond-nav-icon-container{
        right: 0;
        padding: 9px;
        position: absolute;
        z-index: 2;
        pointer-events: none;
    }
    .search-icon-button-container{
        padding: 0;
        cursor: pointer;
        margin: 0;
        background: transparent;
        font-weight: inherit;
        line-height: inherit;
        font-size: inherit;
        text-align: inherit;
        border-radius: 50px;
        color: inherit;
        outline: none;
        text-decoration: none;
        appearance: none;
        overflow: visible;
        pointer-events: all;
        border: none;
    }
    .search-svg-icon-container{
        border-radius: 50%;
        transform: none;
        transform-origin: 50% 505 0px;
        background-color: #FF385C;
        align-items: center;
        justify-content: center;
        padding: 10px;
        display: flex;
        height: 48px;
        width: 48px;
        color: var(--background-color);
        border: none;
    }
    .header-text-final-container{
        line-height: 1.5rem;
        font-size: 1.25rem;
        padding-inline-end: 12px;
        font-weight: 600;
    }
    .left-right-button-container{
        margin-left: auto;
        align-items: center;
        display: flex;
        color: var(--text-color);
    }
    .left-right-button-styler{
        column-gap: 4px;
        display: flex;
    }
    .left-button-container{
        background-color: var(--background-color);
        opacity: 0.5;
        color: #c7c7c7;
        align-items: center;
        padding: 0;
        border-radius: 50%;
        border: 1px solid #c7c7c7;
        justify-content: center;
        margin: 0;
        position: relative;
        display: inline-flex;
        appearance: none;
        height: 24px;
        width: 24px;
    }
    .right-button-container{
        background-color: #F2F2F2;
        color: var(--text-color);
        align-items: center;
        padding: 0;
        border-radius: 50%;
        border: none;
        justify-content: center;
        margin: 0;
        position: relative;
        display: inline-flex;
        appearance: none;
        height: 24px;
        width: 24px;
    }
    .left-button{
        display: flex;
        position: relative;
        display: flex;
        will-change: transform;
    }
    .template-header-container-margin-top{
        margin-block-start: 31px;
    }
    .sticky-nav-bottom-container{
        display: none;
    }
    .end-credits-flex-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 8px
    }
    .desktop-flex-container{
        display: flex;
    }
    .margin-bottom{
        margin-bottom: 4px;
    }
    .actual-footer-text-container{
        grid-template-columns: repeat(6, minmax(0, 1fr));
        padding: 24px 0 32px 0;
    }
    .support-section-template{
        grid-column: span 2;
        border: none;
        padding: 0;
    }
    .end-credits-button-container{
        padding: 6px 8px 7px 8px;;
    }
    .padding-left{
        padding-left: 5px;
    }
    .laptop{
        display: none;
    }
}

@media (min-width:1024px) {
    .laptop{
        display: block;
    }
    .tab{
        display: none;
    }
    .airbnb-logo-container-laptop{
        display: inline-flex;
        align-items: center;
        position: relative;
        outline: none;
        vertical-align: middle;
        z-index: 1;
        color: #FF385C;
        height: 80px;
        margin-top: 10px;
    }
    .last-category-bar-container {
        padding: 0 32px;
    }
    .bnb-globe-menu-container{
        top: 5px;
    }
    .bnb-category-container{
        margin: 28px 15px 0px 0px;
    }
    .underline-container-desktop{
        left: 232.2px;
    }
    .last-nav-container{
        max-width: 850px;
        margin: 0 auto;
    }
    .template-slider-final-container{
       grid-auto-columns: calc(20% - 8.8px); 
       padding: 0;
       margin-inline:0;
    }
    .template-slider-container{
        padding: 0 32px;
    }
    .template-header-container-margin-top{
        margin-inline: 32px;
    }
    .template-header-container-actual{
        margin-inline: 32px;
    }
    .about-container-unordered-list {
        padding: 0;
        margin: 0;
        column-gap: 8px;
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        /* grid-template-columns: repeat(6, minmax(0, 1fr)); */
        row-gap: 24px;
        list-style: none;
    }
    .laptopx{
        display: none;
    }
    .laptop-flex{
        display: flex;
        width: 100%;
        justify-content: space-between;
        flex-direction: row-reverse;
    }
    .footer-text-padding{
        padding: 0 32px;
    }
    .end-credits-flex-container{
        margin-bottom: 0;
    }
    .desktop-flex-container{
        /* padding: 4px 0; */
        padding: 2.5px 0 0px 0;
    }
    .actual-footer-text-container{
        padding: 32px 0;
    }
    .end-credits-container{
        padding-bottom: 15px;
    }
    .footer-container-three{
        padding-inline: 32px;
    }
    .end-credits-ol-container{
        padding-top: 2px;
    }
    .laptop-dot{
        padding-left: 11px;
        padding-right: 5px;
    }
    .end-credits-ul-container{
        margin: 0px -4px 1px 8px;
    }
}        
@media (min-width:1128px){
    .template-slider-final-container{
        grid-auto-columns: calc(16.6667% - 9.16667px);
    }
    .become-a-host-container{
        margin-right: 12px;
        align-items: center;
        justify-content: flex-end;
        display: flex;
        gap: 12px;
        flex: auto;
    }
    .become-a-host-button-container{
        text-align: center;
        cursor: pointer;
        border: none;
        line-height: 1.125rem;
        font-size: 0.875rem;
        background: transparent;
        font-weight: 500;
        font-family: var(--font-default);
        margin: 0;
        border-radius: 20px;
        padding: 11px 12px;
        position: relative;
        outline: none;
        contain: paint;
        color: var(--text-color);
        min-width: auto;
        width: auto;
        display: inline-block;
    }
    .becomea-a-host-span-container{
        display: inline-block;
    }
    .globe-button-container{
        display: flex;
    }
    .bnb-category-container {
        margin: 28px 0px 0px 118px;
    }
    .underline-container-desktop {
        left: 283px;
    }
    .homes-icon-container-span-container {
        right: 5.5px;
    }
    .first-laptopx{
        right: 6px;
    }
    .about-container-unordered-list{
        grid-template-columns: repeat(6, minmax(0, 1fr));
    }
    .laptopx{
        display: block;
    }
    .desktop-flex-container {
        padding: 4px 0 0px 0;
    }
}
@media (min-width:1440px){
    .template-slider-final-container{
       grid-auto-columns:  calc(14.2857% - 9.42857px);
    } 
    .template-slider-container{
        padding: 0 48px;
    }
    .template-header-container-actual {
        margin-inline: 48px;
    }
    .last-category-bar-container {
        padding: 0 48px;
        margin-top: 8px;
    }
    .nav-bar-container{
        z-index: 9;
    }
    .category-bar-container{
        box-shadow: none;
    }
    .underline-container-desktop {
        left: 30.6%;
        margin-top: 5px;
    }
    .secondlast-nav-container {
        margin-top: 42px;
    }
    .nav-bar-container {
        padding-bottom: 22px;
    }
    .template-header-container-margin-top {
        margin-block-start: 32.5px;
    }
    .footer-text-padding {
        padding: 0 48px;
    }
    .footer-container-three {
        padding-inline: 0;
        max-width: 1344px;
        margin: 0 auto;
    }
    .actual-footer-text-container {
        padding: 48px 0;
    }
    .support-template-header {
    margin-bottom: 16px;
    }
    .template-container {
        margin: 0 auto;
    }
    .template-container{
        max-width: 1440px;
    }
    .underline-container-desktop{
        top: 6px;
    }
}
